<div id="<%= dom_id tweet %>">
  <div class="container">
    <p>
      <strong><%= tweet.UserName %></strong>
    </p>
  </div>
  
  <div class="container">
    <p>
      <%= tweet.descrption %>
    </p>
  </div>
  

</div>
